body {
    background-color: rgb(53 54 53);
}

/* Boxes */
.group {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.boxes1, .boxes2 {
    display: flex;
    justify-content: center;
}
.b1 {
    opacity: 0.7;
    transition: 0.3s;
    text-decoration: none;
}
.b1:hover{
    opacity: 1;
    transform: scale(1.2);
}
/* Box Styling */
.b1 {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(202,248,128);
    margin: 1rem;

    display: flex;
    justify-content: center;

    border-radius: 10px;
}
.b1 p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

/* Video Styling */
.video1, .video2, .video3, .video4, .video5, .video6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgb(68, 74, 64);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;

    border-radius: 12px;
}
.video1.active, .video2.active, .video3.active, .video4.active, .video5.active, .video6.active {
    visibility: visible;
    opacity: 1;
}
.video1 video, .video2 video, .video3 video, .video4 video, .video5 video, .video6 video {
    position: relative;
    max-width: 900px;
    outline: none;
}
.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}
@media (max-width: 991px) {
    .video1 video, .video2 video, .video3 video, .video4 video, .video5 video, .video6 video {
        max-width: 90%;
    }
}